<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862895190738-fe9d5qahsa8v8qksrv5v5jrairs14eud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862895190738-fe9d5qahsa8v8qksrv5v5jrairs14eud</string>
	<key>API_KEY</key>
	<string>AIzaSyBJuw4Ib-qDfIe0nfd5-wQLHfnuoeszfe8</string>
	<key>GCM_SENDER_ID</key>
	<string>862895190738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-fdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-fdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862895190738:ios:34779133e289ef256a330b</string>
</dict>
</plist>